.bg-orange-dark {
    background-color: #e69804;
}

.bg-orange {
    background-color: #fbb023;
}

.bg-orange-light {
    background-color: #fdd487;
}

.bg-orange-lightest {
    background-color: #fee6b9;
}

.bg-blue-dark {
    background-color: #208d9e;
}

.bg-blue {
    background-color: #2bbcd2;
}

.bg-blue-light {
    background-color: #9bdfe9;
}

.bg-blue-lightest {
    background-color: #e1f6f9;
}

.bg-gray-dark {
    background-color: #5f5f5f;
}

.bg-gray {
    background-color: #7f7f7f;
}

.bg-gray-light {
    background-color: #c2c2c2;
}

.bg-gray-lightest {
    background-color: #ededed;
}

.fg-orange-dark {
    color: #e69804;
}

.fg-orange {
    color: #fbb023;
}

.fg-orange-light {
    color: #fdd487;
}

.fg-orange-lightest {
    color: #fee6b9;
}

.fg-blue-dark {
    color: #208d9e;
}

.fg-blue {
    color: #2bbcd2;
}

.fg-blue-light {
    color: #9bdfe9;
}

.fg-blue-lightest {
    color: #e1f6f9;
}

.fg-gray-dark {
    color: #5f5f5f;
}

.fg-gray {
    color: #7f7f7f;
}

.fg-gray-light {
    color: #c2c2c2;
}

.fg-gray-lightest {
    color: #ededed;
}



